.App {
  background-color: #282c34;
  min-height: calc(100vh - 254px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  min-width: 320px;
}

.homeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.homeCard {
  height: 400px;
  width: 40%;
  min-width: 300px;
  margin: 50px;
  border-radius: 8px;
}
.homeCardHeader {
  background-color: rgba(50, 50, 50, 0.5);
  padding: 10px;
}
.homeCardTitle {
  font-size: 28px;
}

.logo {
  height: 250px;
}

@media screen and (max-width: 1000px) {
  .homeCard {
    width: 70%;
  }
}

@media screen and (max-width: 860px) {
  .modal {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .homeCard {
    margin: 0;
    width: 100%;
  }
  .logo {
    height: 150px;
    margin-bottom: 40px;
  }
}

nav {
  top: 0px;
}

.help {
  position: absolute;
  left: 15%;
  top: 4em;
}

button {
  border: none;
  cursor: pointer;
  background-color: #282c34;
}

a {
  text-decoration: none;
  color: lightskyblue;
}

p {
  margin: 0;
}

.wrap {
  flex-wrap: wrap;
}

/* IMAGES STYLES & POSITION */

.obj-fit-cover {
  object-fit: cover;
}
.obj-pos-arr {
  object-position: -10% 20%;
}

/* MARGIN & PADDING */

.margin-auto {
  margin: auto;
}
.mt-10 {
  margin-top: 10px;
}
.m-150-50-50-0 {
  margin: 150px 50px 50px 0px;
}
.m-150-0-50-0 {
  margin: 150px 0px 50px 0px;
}
.p-15-15-15-50 {
  padding: 15px 15px 15px 50px;
}
.p-24 {
  padding: 24px;
}
.pl-50 {
  padding-left: 50px;
}
.pl-24 {
  padding-left: 24px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}

/* WIDTH & HEIGHT */

.full-width {
  width: 100%;
}
.width-80 {
  width: 80%;
}
.half-width {
  width: 50%;
}
.min-width {
  min-width: 280px;
}
.min-height-10vh {
  min-height: 10vh;
}
.half-height {
  height: 50%;
}
.h-250 {
  height: 250px;
}
.h-150 {
  height: 150px;
}
.h-100 {
  height: 100px;
}
.h-400 {
  height: 400px;
}

/* DISPLAY */

.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* COLOR & BACKGROUND COLOR */

.white {
  color: white;
}
.skyblue {
  color: lightskyblue;
}
.bg-color {
  background-color: rgb(9, 12, 11);
}
.bg-grey {
  background: gray;
}
.bg-trans {
  background-color: transparent;
}
.bg-ivory {
  background-color: #282c34;
}
.bg-blue {
  background-color: lightskyblue;
}
/* POSITION */

.sticky {
  position: sticky;
}
.top-0 {
  top: 0px;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.items-center {
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}
.space-around {
  justify-content: space-around;
}
.letter-spacing-2 {
  letter-spacing: 2px;
}

/* BORDER */

.border-radius-15 {
  border-radius: 15px;
}

/* FONT */

.font-bold {
  font-weight: 600;
}
.font-small {
  font-size: small;
}
.font-20 {
  font-size: 20px;
}
.font-30 {
  font-size: 30px;
}

/* background-color: rgb(206, 206, 206); */
